.button {
    padding: 15px;
    width: 100px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 10px, 5px, rgba(60, 60, 60, 0.8);
    cursor: pointer;
}

.button:hover {
    padding: 14px;
}