.bg_color_main {
    background-color: #2B3A67;
}

.bg_color_main_light {
    background-color: #C5CDE7;
}

.bg_color_second {
    background-color: #373E40;
    color: white;
}


.bg_color_contrast {
    background-color: #E63746;
    color: white;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#loading img {
    width: 50vw;
}

.button {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 10px, 5px, rgba(60, 60, 60, 0.8);
    cursor: pointer;
    border: none;
}

.button:hover {
    padding: 14px;
}



.bg_one {
    background-color: lightseagreen;
    padding: 50px 25px;
}

.bg_two {
    background-color: darkgrey;
    padding: 50px 25px;
}