#home_welcome {
    width: 100%;
    height: 70vh;
    background-image: url("../images/main/welcome.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#home_top {
    display: flex;
    width: 100%;
    height: 70vh;
}

#homeTitle {
    position: absolute;
    top: 7vh;
    left: 40%;
    color: white;
}

.home_top_prez {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 75px;
}

.home_top_id {
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 50px;
}


.home_bottom_prez {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;;
}

#testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hide_testimonial {
    display: none;
}

.card_testimonial {
    width: 60vw;
    height: 35vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.testi_left {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.testi_left img {
    width: 70%;
}

.testi_right {
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

#bullets {
    width: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.bullet {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: darkgray;
    cursor: pointer;
}

.active {
    background-color: black;
}

#workplace {
    width: 100%;
    height: 40vh;
    display: flex;
}

#workplace_left {
    width: 40%;
    height: 100%;
    background-image: url('../images/main/warehouse.jpg');
    background-size: cover;
    background-position-y: 30%;
}

#workplace_right {
    width: 60%;
    height: 100%;
    padding: 25px;
}

#thanks {
    padding: 25px;
}