.missions {
    width: 80vh;
}

.mission h3 {
    color: red;
}

.mission {
    width: 50%;
    height: 300px;;
}
.cover {
    width: 200px;;
}


/*--- article pattern ---*/

.main_div_article {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}