@import url("css/menu.css");
@import url("css/missions.css");
@import url("css/classic_component.css");

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Baloo 2', cursive;
}

p, a {
    font-family: 'Raleway', sans-serif;
}